@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');



*{
    padding: 0;
    margin: 0;
}

:root{
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(212, 45%, 89%);
    --greyish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --qr-blue: #2a7ef9;
}

body{
    background: var(--light-grey);
    font-family: "Outfit";
}

.card{
    height: 484px;
    width: 315px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 18px 17px 18px;
    box-shadow: 0px 4px 5px 0px rgb(154, 154, 154);
}

.qr-wrapper{
    height: 280px;
    width: 280px;
    border-radius: 15px;
    background-image: url("images/image-qr-code.png");
    background-size: contain;
}

.card-text{
    padding: 0 12px 13px;
}

.card-text h5{
    font-size: 20px;
    padding-top: 9px;
    font-weight: 600;
    text-align: center;
}

.card-text p{
    font-size: 15px;
    text-align: center;
    height: 53px;
    padding-top: 19px;
    color: var(--greyish-blue);
}

.attribution{
    position: absolute;
    top: calc(50% + 268px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    text-align: center;
    font-weight: 600;

  }
 